@(account: Account)

@template(Some(account), None, "myabstracts") {

    <div class="hidden-data">
        <div id="conference-uuid">@account.uuid</div>
    </div>

    <script data-main="@routes.Assets.at("javascripts/userdash.js")"
                  src="@routes.Assets.at("javascripts/require.js")"></script>

    <div data-bind="foreach: conferences">
        <div class="panel panel-default">
            <div class="panel-heading" >
                <h4 class="panel-title" data-bind="text: name"></h4>
            </div>
                <div class="panel-body">
                    <span data-bind="text: cite"></span>
                </div>
                <ul class="list-group" data-bind="foreach: abstracts">
                    <li class="list-group-item">
                        <span data-bind="text: title"> </span>
                        <span class="badge" data-bind="text: state"></span>
                        <p data-bind="text:console.log($root, $parent, $data)"></p>
                    </li>
                </ul>
        </div>
    </div>
}