{
    "root": true,
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "$": true
    },
    "extends": ["eslint:recommended"],
    "plugins": [],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "linebreak-style": ["error", "unix"],
        "array-bracket-spacing": ["error", "never"],
        "arrow-body-style": ["error", "always"],
        "arrow-parens": ["error"],
        "arrow-spacing": ["error"],
        "block-spacing": ["error"],
        "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
        "comma-spacing": ["error"],
        "comma-dangle": ["error"],
        "comma-style": ["error"],
        "eol-last": ["error"],
        "eqeqeq": ["error", "always"],
        "func-call-spacing": ["error", "never"],
        "key-spacing": ["error"],
        "keyword-spacing": ["error", {"before": true}],
        "no-duplicate-imports": ["error"],
        "no-unused-vars": ["error", { "varsIgnorePattern": "^_", "args": "none", "vars": "local" }],
        "no-cond-assign": ["error"],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-class-assign": ["error"],
        "no-array-constructor": ["error"],
        "no-eval": ["error"],
        "no-extend-native": ["error"],
        "no-extra-bind": ["error"],
        "no-extra-boolean-cast": ["error"],
        "no-extra-parens": ["error"],
        "no-fallthrough": ["error"],
        "no-floating-decimal": ["error"],
        "no-func-assign": ["error"],
        "no-implied-eval": ["error"],
        "no-inline-comments": ["error"],
        "no-invalid-regexp": ["error"],
        "no-irregular-whitespace": ["error"],
        "no-iterator": ["error"],
        "no-label-var": ["error"],
        "no-lone-blocks": ["error"],
        "no-loop-func": ["error"],
        "no-multiple-empty-lines": ["error", {"max": 1, "maxEOF": 1}],
        "no-new": ["error"],
        "no-new-object": ["error"],
        "no-new-require": ["error"],
        "no-new-symbol": ["error"],
        "no-new-wrappers": ["error"],
        "no-obj-calls": ["error"],
        "no-octal": ["error"],
        "no-octal-escape": ["error"],
        "no-path-concat": ["error"],
        "no-proto": ["error"],
        "no-redeclare": ["error"],
        "no-regex-spaces": ["error"],
        "no-return-assign": ["error"],
        "no-self-compare": ["error"],
        "no-sequences": ["error"],
        "no-shadow": ["error"],
        "no-shadow-restricted-names": ["error"],
        "no-sparse-arrays": ["error"],
        "no-tabs": ["error"],
        "no-template-curly-in-string": ["error"],
        "no-this-before-super": ["error"],
        "no-throw-literal": ["error"],
        "no-trailing-spaces": ["error"],
        "no-undef-init": ["error"],
        "no-underscore-dangle": ["error"],
        "no-unneeded-ternary": ["error"],
        "no-unreachable": ["error"],
        "no-unsafe-finally": ["error"],
        "no-unsafe-negation": ["error"],
        "no-useless-call": ["error"],
        "no-useless-computed-key": ["error"],
        "no-useless-concat": ["error"],
        "no-useless-constructor": ["error"],
        "no-useless-escape": ["error"],
        "no-useless-rename": ["error"],
        "no-whitespace-before-property": ["error"],
        "no-with": ["error"],
        "object-property-newline": ["error", { "allowMultiplePropertiesPerLine": true }],
        "padded-blocks": ["error", {"blocks": "never"}],
        "prefer-const": ["error"],
        "quotes": ["error", "double"],
        "rest-spread-spacing": ["error"],
        "semi": ["error", "always"],
        "semi-spacing": ["error"],
        "space-before-blocks": ["error"],
        "space-in-parens": ["error"],
        "space-infix-ops": ["error"],
        "space-unary-ops": ["error"],
        "spaced-comment": ["error"],
        "template-curly-spacing": ["error"],
        "use-isnan": ["error"],
        "valid-typeof": ["error"],
        "wrap-iife": ["error"],
        "yield-star-spacing": ["error"]
    }
}

