logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.db
figures
figures_mobile

# provided via cdn but keeping a local copy
# makes auto completion available
bootstrap.css

# local settings
conf/application.dev.conf
conf/application.prod.conf
conf/*.disabled

# production files
application-log*
logger.xml
