body { 
  font-family: Helvetica, Arial;
}

.abstract-list-item:hover { 
  cursor: pointer; 
  background-color: #0C4396 !important; 
  color: White; 
}

.al-id {
  float: left;
  width: 7ex;
}

.al-text {
  margin-left: 7ex;
}

.abstract-author-list {
   margin: 0px;
   padding: 0px;
   list-style: none;
   white-space: nowrap;
   display: inline;
   overflow: auto;
}

.abstract-author-list li {
   display: inline;
   overflow: auto;
}

.abstract-author-list li:after {
  content: ",";
}

.abstract-author-list li:last-child:after {
  content: "";
}
