@import "_colors";

@default-margin: 0.5em;
@default-padding: 0.5em;

.no-gap {
  padding: 0;
  margin: 0;
}

.std-gap(@pad: @default-padding, @mar: @default-margin) {
  padding: @pad;
  margin: @mar;
}

.small-gap {
  .std-gap(0.2em, 0.2em);
}

.rounded(@rad: 5px) {
  border-radius: @rad;
  -webkit-border-radius: @rad;
  -moz-border-radius: @rad;
}

.bordered(@col: @color-border) {
  border: 1px solid @col;
}

.bordered-round(@col: @color-border) {
  .rounded;
  .bordered(@col);
}

.enum-with-comma {
  ul {
    .no-gap;
    list-style: none;
    display: inline-block;
    font-size: large;
  }

  li {
    display: inline-block;

    span:after {
      content: " ";
    }
  }

  li:after {
    content: ", ";
  }

  li:last-child:after {
    content: "" !important;
  }
}
