@(account: Option[Account], conference: Conference)

@template(account, Option(conference), "abstracts") {

    <div class="hidden-data">
        <div id="conference-uuid">@conference.uuid</div>
    </div>

    <script data-main="@routes.Assets.at("javascripts/abstractlist.js")"
            src="@routes.Assets.at("javascripts/require.js")"></script>

    <!-- Loading box -->
    <div data-bind="if: isLoading">
        <div class="alert alert-info fade in out">
            <h4>Loading data</h4>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Knockout non-flicker  -->
    <div style="display: none" data-bind="visible: true">

    <!-- Error message box -->
    <div data-bind="visible: error">
        <!-- ko with: error -->
        <div class="alert alert-warning fade in alert-dismissable" data-bind="css: level">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong data-bind="html: message"></strong>
        </div>
        <!-- /ko -->
    </div>

    <div>
        <ul class="nav nav-tabs" data-bind="foreach: groups">
            <li data-bind="attr: {class: state}"><a data-bind="attr: { href: link }, text: name"></a></li>
        </ul>
        <br/>
    </div>

    <!-- The abstract list -->
    <div id="abstract-list" class="list-group" data-bind="foreach: abstracts">
        <div class="list-group-item" id="abstract-list-item" data-bind="click: $root.selectAbstract">
            <div class="abstract">
                <div class="sortId" data-bind="html: $parent.makeAbstractID($data)"></div>
                <div class="box">
                    <h4 class="list-group-item-heading" data-bind="text: title"></h4>
                    <div class="list-group-item-text">
                        <ul class="authors" data-bind="foreach: authors">
                            <li data-bind="text: $data.formatName()"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The abstract viewer -->
    <div id="abstract" data-bind="with: selectedAbstract">

        <ul class="pager">
            <li class="previous" data-bind="css: { disabled: $parent.prevAbstract($data) == null }">
                <a data-bind="attr: {href : $parent.prevAbstract($data)}">&larr; Previous</a>
            </li>
            <li class="next" data-bind="css: { disabled: $parent.nextAbstract($data) == null }">
                <a data-bind="attr: {href : $parent.nextAbstract($data)}">Next &rarr;</a>
            </li>
        </ul>

        <div  class="title">
            <h2 data-bind="text: title"></h2>
        </div>

        <div class="authors">
            <ul data-bind="foreach: authors">
                <li><span data-bind="text: formatName()"></span><sup data-bind="text: $index"></sup></li>
            </ul>
        </div>

        <div class="affiliations">
            <ol data-bind="foreach: affiliations">
                <li><span data-bind="text: format()"></span></li>
            </ol>
        </div>

        <div class="abstract-text">
            <p data-bind="text: text"></p>
        </div>

        <div class="acknowledgements">
            <h4>Acknowledgements</h4>
            <p data-bind="text: acknowledgements"></p>
        </div>

        <div class="references">
            <h4>References</h4>
            <ol>
                <li></li>
            </ol>
        </div>

    <hr class="separator">

    <div class="foot-info">
        <p><b>Identifier:</b> <span data-bind="html: $parent.makeAbstractID($data)"></span></p>
        <p data-bind="with: $parent.conference"><b>Conference:</b> <span data-bind="html: cite"></span></p>
        <p><b>Citation:</b> <span>Greene G, Ehrhardt E, Gollisch T, Wachtler T (2013) Distinguishing local and global motion through non-linear retinal processing. <i>G-Node Conference 20XX</i>. doi: <a class="doilink" href="http://localhost:8000/#/doi/test.1">10.12751/test.1</a></span></p>
        <p><b>Type:</b> <span>Poster</span></p>
    </div>

    </div>

    </div> <!-- KO !flickerbox -->



}