@(account: Option[Account], conference: Conference)

@template(account, Option(conference), "submission") {

    <div class="hidden-data">
        <div id="conference-uuid">@conference.uuid</div>
    </div>

    <script data-main="@routes.Assets.at("javascripts/abstractlist.js")"
            src="@routes.Assets.at("javascripts/require.js")"></script>

    <div>
        <ul class="nav nav-tabs" data-bind="foreach: groups">
            <li data-bind="attr: {class: state}"><a data-bind="attr: { href: link }, text: name"></a></li>
        </ul>
        <br/>
    </div>

    <!-- The abstract list -->
    <div class="list-group" data-bind="foreach: abstracts">
        <div class="list-group-item" id="abstract-list" data-bind="click: $root.selectAbstract">
            <div class="abstract">
                <div class="sortId" data-bind="html: $parent.makeAbstractID($data)"></div>
                <div class="box">
                    <h4 class="list-group-item-heading" data-bind="text: title"></h4>
                    <div class="list-group-item-text">
                        <ul class="authors" data-bind="foreach: authors">
                            <li data-bind="text: $data.formatName()"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The abstract viewer -->
    <div id="abstract" data-bind="with: selectedAbstract">

        <ul class="pager">
            <li class="previous" data-bind="css: { disabled: $parent.prevAbstract($data) == null }">
                <a data-bind="attr: {href : $parent.prevAbstract($data)}">&larr; Previous</a>
            </li>
            <li class="next" data-bind="css: { disabled: $parent.nextAbstract($data) == null }">
                <a data-bind="attr: {href : $parent.nextAbstract($data)}">Next &rarr;</a>
            </li>
        </ul>

        <div  class="title">
            <h2 data-bind="text: title"></h2>
        </div>

        <div class="abstract-text">
            <p data-bind="text: text"></p>
        </div>

    </div>



}