@(account: Option[Account], list_opened: Seq[Conference], list_published: Seq[Conference])(implicit request: RequestHeader)

@import views.html.bootstrap._

@template(account, None, "") {

    @flash(request)

    <div class="page-header">
        <h1>Conference abstracts <small>and submission</small></h1>
    </div>

    @if(list_opened.nonEmpty) {
        <h2>Active conferences</h2>

        <hr>

        @for(conf <- list_opened) {
            <div class="jumbotron">
                @if(conf.logo != null) {
                    <p><img class="conference-logo img-responsive img-rounded" src="@conf.logo"></p>
                }
                <a href="@routes.Application.conference(conf.short)"><h3>@conf.name</h3></a>
                <p>@conf.description</p>

                @if(conf.startDate != null && conf.endDate != null) {
                    <p><b></b> @conf.startDate.toString(conf.dateFormatter) - @conf.endDate.toString(conf.dateFormatter)</p>
                }

                @if(account.isDefined) {
                    @if(conf.isOwner(account.get) || account.get.isAdmin) {
                        <a href="@routes.Application.adminConference(conf.uuid)" class="btn btn-danger">
                            Conference Settings</a>
                        <a href="@routes.Application.adminAbstracts(conf.uuid)" class="btn btn-danger">
                            Manage abstracts</a>
                    }
                }
            </div>
        }
    }

    @if(list_published.nonEmpty) {
        <h3>Past conferences</h3>

        <hr>

        @for(conf <- list_published) {
            <div class="media">
                <div class="pull-left media-left">
                    <a href="@routes.Application.conference(conf.short)">
                        <img class="media-object conference-thumbnail" src="@conf.thumbnail">
                    </a>
                </div>
                <div class="media-body">
                    <a href="@routes.Application.abstractsPublic(conf.short)">
                        <h4 class="media-heading">@conf.name</h4>
                    </a>

                    <p>@conf.description</p>

                    @if(conf.startDate != null && conf.endDate != null) {
                        <p><b></b> @conf.startDate.toString(conf.dateFormatter) - @conf.endDate.toString(conf.dateFormatter)</p>
                    }

                    <ul class="list-inline">
                        @if(account.isDefined) {
                            @if(conf.isOwner(account.get) || account.get.isAdmin) {
                                <li><a href="@routes.Application.adminConference(conf.uuid)" class="btn btn-danger">
                                    Conference Settings</a></li>
                                <li><a href="@routes.Application.adminAbstracts(conf.uuid)" class="btn btn-danger">
                                    Manage abstracts</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
    }
}