@(account: Option[Account], conference: Conference)

@template(account, Option(conference), "conference") {

    <!-- The conference info page -->
    <div class="header">
        <h1>@conference.name Abstract Submission</h1>
    </div>

    <hr class="separator">

    @if(conference.isOpen) {
    <div>
        <p>Abstract submission is currently open. In order to submit an abstract please press the appropriate button below.</p>
        <form action="@routes.Application.submission(conference.uuid)">
            <input type="submit" value="Submit an Abstract">
        </form>
    </div>
    } else {
    <div>
        <p>Abstract submission is currently closed.</p>
    </div>
    }
}