@(account: Option[Account], conference: Conference)

@template(account, Option(conference), "conference") {

    <div class="hidden-data">
        <div id="conference-uuid">@conference.uuid</div>
    </div>

    <div class="hidden-data">
        <div id="account-uuid">@if(account.isDefined) {
            @account.get.uuid
        }
        </div>
    </div>

    <!-- The conference info page -->

    <div class="page-header">
        <h1>@conference.name</h1>
    </div>

    @if(conference.logo != null && conference.link != null) {
        <div>
            <a href="@conference.link">
                <img class="conference-logo img-responsive img-rounded" src="@conference.logo" alt="Conference Logo">
            </a>
        </div>
    }

    @if(conference.description != null) {
        <h5>@conference.description</h5>
    }

    <!-- Buttons to register, sign in and submit -->

    <h3>Abstract Submission</h3>
    @if(conference.isOpen) {
    <div>
        <p>Submission is currently <span class="text-success"><b>open</b></span>.
        @if(!account.isDefined) {
            In order to submit an abstract please login or register.</p>

        <a href="@securesocial.core.providers.utils.RoutesHelper.login()" class="btn btn-primary">Login</a>
        <a href="@securesocial.core.providers.utils.RoutesHelper.startSignUp()" class="btn btn-primary">Register</a>

        } else {
            In order to submit an abstract please press the appropriate button below.</p>
            <form action="@routes.Application.submission(conference.uuid)">
                <input class="btn btn-success" type="submit" value="Submit an Abstract">
            </form>
        }
    </div>
    } else {
    <div>
        <p>Abstract submission is currently <span class="text-danger"><b>closed</b></span>.</p>
    </div>
    }

    <!-- Conference owner section to manage owners -->

    @if(account.isDefined) {
        <hr>
        @if(conference.isOwner(account.get) || account.get.isAdmin) {
            <h3>Administration</h3>
            <ul class="list-inline">
            <li><a href="@routes.Application.adminConference(conference.uuid)" class="btn btn-danger">Conference Settings</a></li>
            <li><a href="@routes.Application.adminAbstracts(conference.uuid)" class="btn btn-danger">Abstracts</a></li>
            </ul>
        }
    }

}