@(account: Option[Account], conference: Conference)

@template(account, Option(conference), "conferenceschedule") {

    <script data-main="@routes.Assets.at("javascripts/conference-schedule.js")"
        src="@routes.Assets.at("javascripts/require.js")"></script>

    <div class="hidden-data">
        <div id="conference-uuid">@conference.uuid</div>
    </div>

    <div class="hidden-data">
        <div id="account-uuid">@if(account.isDefined) {
            @account.get.uuid
        }
        </div>
    </div>

    <!-- Loading box -->
    <div data-bind="if: isLoading">
        <div class="alert alert-info fade in out">
            <h4 data-bind="text: isLoading">Loading data</h4>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Knockout non-flicker  -->
    <div style="display: none" data-bind="visible: true">

        <!-- Error message box -->
        <div data-bind="visible: error">
            <!-- ko with: error -->
            <div class="alert fade in alert-dismissable" data-bind="css: level">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong data-bind="html: message"></strong>
            </div>
            <!-- /ko -->
        </div>

        <!-- The conference schedule page -->
        <div class="jumbotron">
            <div class="page-header">
                <h1>@conference.name</h1>
            </div>
            <div class="conference-scheduler-border">
                <div data-bind="attr: {'style': 'height:' + schedulerHeight() + 'px;'}" id="conference_scheduler" class="dhx_cal_container">
                    <div class="dhx_cal_navline">
                        <div data-bind="attr: {'style': 'display:' + displayPrevious() + ';'}" class="dhx_cal_prev_button">&nbsp;</div>
                        <div data-bind="attr: {'style': 'display:' + displayNext() + ';'}" class="dhx_cal_next_button">&nbsp;</div>
                        <div class="dhx_cal_today_button" style="display:none;"></div>
                        <div class="dhx_cal_date"></div>
                        <div class="dhx_cal_tab" name="day_tab" style="right:204px; display: none;"></div>
                    </div>
                    <div class="dhx_cal_header"></div>
                    <div class="dhx_cal_data"></div>
                </div>
            </div>
        </div>

    </div> <!-- KO !flickerbox -->

    <!-- Info popup -->
    <div class="modal" id="conference-scheduler-info" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-secondary btn-sm pull-right" data-bind="text: infoEventType()" disabled></button>
                    <h3 class="modal-title" data-bind="text: infoTitle()"></h3>
                    <h4 class="modal-title" data-bind="text: infoSubtitle()"></h4>
                </div>
                <div class="modal-body">
                    <p data-bind="text: 'Date:   ' + moment(infoStartingDate()).format('D[ ]MMMM[ ]YYYY')"></p>
                    <p data-bind="text: 'Time:   ' + moment(infoStartingDate()).format('HH[:]mm[ - ]') + moment(infoEndingDate()).format('HH[:]mm')"></p>
                </div>
                <div class="modal-footer">
                    <!-- ko if: canExpandEvent(infoID()) -->
                        <button type="button" class="btn btn-sm btn-danger" data-bind="click: function (data, event) {expandEvent(infoID())}" data-dismiss="modal">Expand</button>
                    <!-- /ko -->
                    <!-- ko if: canCollapseEvent(infoID()) -->
                        <button type="button" class="btn btn-sm btn-success" data-bind="click: function (data, event) {collapseEvent(infoID())}" data-dismiss="modal">Collapse</button>
                    <!-- /ko -->
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
}