@(account: Option[Account], list_active: Seq[Conference], list_other: Seq[Conference])(implicit request: RequestHeader)

@import views.html.bootstrap._

@template(account, None, "") {

    <!-- if required redirect after login -->
    <script>
        var ref = window.sessionStorage.getItem("gca_ref")
        if (ref !== undefined && ref !== null) {
            window.sessionStorage.removeItem("gca_ref");
            window.location.replace(ref);
        }
    </script>

    @flash(request)

    @if(list_active.nonEmpty) {

        @for(conference <- list_active) {
            <div class="jumbotron">
                @if(conference.logo != null) {
                    <p>
                        <img class="conference-logo img-responsive img-rounded" src="@conference.logo">
                    </p>
                }
                <h3>
                    <a href="@routes.Application.conference(conference.short)">@conference.name</a>
                </h3>
                @if(conference.getDescriptionAsHTML().length() > 0) {
                    <div class="jumbo-small">
                        @Html(conference.getDescriptionAsHTML())
                    </div>
                }

                <p>@conference.formatDuration</p>

                @if(account.isDefined && (conference.isOwner(account.get) || account.get.isAdmin)) {
                    <div class="form-group">
                        <a href="@routes.Application.adminConference(conference.uuid)" class="btn btn-danger">
                            Conference Settings
                        </a>
                        <a href="@routes.Application.adminAbstracts(conference.uuid)" class="btn btn-danger">
                            Manage abstracts
                        </a>
                    </div>
                }
            </div>
        }
    }

    @if(list_other.nonEmpty) {
        <hr>
        @for(conference <- list_other) {
            @if(conference.isPublished){
                <div class="media">
                    <div class="pull-left media-left">
                        <a href="@routes.Application.conference(conference.short)">
                            <img class="media-object conference-thumbnail" src="@conference.thumbnail">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="@routes.Application.abstractsPublic(conference.short)">
                            <h4 class="media-heading">@conference.name</h4>
                        </a>
                        <p>@conference.formatDuration</p>
                        @if(account.isDefined && (conference.isOwner(account.get) || account.get.isAdmin)) {
                            <div class="form-group">
                                <a href="@routes.Application.adminConference(conference.uuid)" class="btn btn-danger">
                                    Conference Settings
                                </a>
                                <a href="@routes.Application.adminAbstracts(conference.uuid)" class="btn btn-danger">
                                    Manage abstracts
                                </a>
                            </div>
                    }
                </div>
            </div>
            }
        }
    }
}