@(account: Option[Account])

@template(account, None, "Contact") {

    <!-- The contact info -->
    <div class="page-header">
        <h1>Contact</h1>
    </div>
    <div>
        <p class="lead">Technical Help</p>
        <p>If you experience any technical difficulties please contact the site
            administrators at abstracts (at) g-node.org </p>
        <br>
        <p class="lead">Conference related help</p>
        <p>Please direct any questions regarding abstract submission,
            the state of the abstracts or anything else related to the conference
            itself to the organizers of the corresponding conference.</p>

    </div>
}