@(account: Option[Account])

@template(account, None, "Datenschutz") {

<!-- Datenschutz -->
<div class="page-header">
    <h1>Datenschutzerklärung</h1>
</div>
<div>
    <p>Diese Datenschutzerklärung beruht auf den Begrifflichkeiten, die durch den Europäischen Richtlinien-
        und Verordnungsgeber beim Erlass der
        <a href="https://dsgvo-gesetz.de" rel="nofollow">Datenschutz-Grundverordnung (DS-GVO)</a> verwendet wurden.</p>

    <p>Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO):</p>

    <p>German Neuroinformatics Node (G-Node)<br>
        Department Biologie II<br>
        Ludwig-Maximilians-Universität München<br>
        Großhaderner Str. 2<br>
        82152 Planegg-Martinsried<br>
        Deutschland</p>

    <p>Tel.: 089 2180 74810<br>
        E-Mail: info@@g-node.org</p>

    <p class="lead">Ihre Betroffenenrechte</p>

    <p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>

    <ul>
        <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,</li>
        <li>Berichtigung unrichtiger personenbezogener Daten,</li>
        <li>Löschung Ihrer bei uns gespeicherten Daten,</li>
        <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund
            gesetzlicher Pflichten noch nicht löschen dürfen,</li>
        <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und</li>
        <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben
            oder einen Vertrag mit uns abgeschlossen haben.</li>
    </ul>

    <p>Eine von Ihnen erteilte Einwilligung können Sie jederzeit mit Wirkung für die Zukunft  widerrufen.</p>

    <p>Sie können sich jederzeit mit einer Beschwerde an die für Sie zuständige Aufsichtsbehörde wenden.
        Ihre zuständige Aufsichtsbehörde richtet sich nach dem Bundesland Ihres Wohnsitzes, Ihrer Arbeit
        oder der mutmaßlichen Verletzung. Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich)
        mit Anschrift finden Sie unter:
        <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" rel="nofollow">
            https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html
        </a>.
    </p>

    <p class="lead">Zwecke der Datenverarbeitung</p>

    <p>Unsere Dienste richten sich an Wissenschaftler zur Unterstützung ihrer wissenschaftlicher Tätigkeit,
        insbesondere des wissenschaftlichen Austausches und der Veröffentlichung von Forschungsergebnissen.
        Wir verarbeiten Ihre personenbezogenen Daten nur zu diesen Zwecken. Eine Übermittlung
        Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet nicht statt.
        Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:</p>

    <ul>
        <li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben,</li>
        <li>die Verarbeitung zur Ausführung der von Ihnen in Anspruch genommenen  Dienste erforderlich ist,</li>
        <li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,</li>
    </ul>

    <p>die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme besteht,
        dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.</p>

    <p class="lead">Löschung bzw. Sperrung der Daten</p>

    <p>Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern Ihre personenbezogenen
        Daten daher nur so lange, wie dies zur Erreichung der hier genannten Zwecke erforderlich ist oder wie es die
        vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen. Nach Fortfall des jeweiligen Zweckes bzw.
        Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend den gesetzlichen
        Vorschriften gesperrt oder gelöscht.</p>

    <p class="lead">Cookies</p>

    <p>Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Cookies sind kleine Textdateien,
        die von einem Websiteserver auf Ihre Festplatte übertragen werden. Hierdurch erhalten wir automatisch
        bestimmte Daten wie z. B. IP-Adresse, verwendeter Browser, Betriebssystem und Ihre Verbindung zum Internet.</p>

    <p>Cookies können nicht verwendet werden, um Programme zu starten oder Viren auf einen Computer zu übertragen.
        Anhand der in Cookies enthaltenen Informationen können wir Ihnen die Navigation erleichtern
        und die korrekte Anzeige unserer Webseiten ermöglichen.</p>

    <p>In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben oder ohne Ihre Einwilligung
        eine Verknüpfung mit personenbezogenen Daten hergestellt.</p>

    <p>Natürlich können Sie unsere Website grundsätzlich auch ohne Cookies betrachten.
        Internet-Browser sind regelmäßig so eingestellt, dass sie Cookies akzeptieren.
        Im Allgemeinen können Sie die Verwendung von Cookies jederzeit
        über die Einstellungen Ihres Browsers deaktivieren. Bitte verwenden Sie die Hilfefunktionen
        Ihres Internetbrowsers, um zu erfahren, wie Sie diese Einstellungen ändern können. Bitte beachten Sie,
        dass einzelne Funktionen unserer Website möglicherweise nicht funktionieren,
        wenn Sie die Verwendung von Cookies deaktiviert haben.</p>

    <p class="lead">Nutzerregistrierung</p>

    <p>Bei der Registrierung für die Nutzung unserer personalisierten Leistungen werden einige personenbezogene Daten
        wie Name und E-Mail-Adresse erhoben. Sind Sie bei uns registriert,
        können Sie auf Inhalte und Leistungen zugreifen, die wir nur registrierten Nutzern anbieten.
        Angemeldete Nutzer haben jederzeit die Möglichkeit, bei Bedarf die bei Registrierung angegebenen Daten
        zu ändern oder zu löschen. Selbstverständlich erteilen wir Ihnen darüber hinaus jederzeit Auskunft
        über die von uns über Sie gespeicherten personenbezogenen Daten. Gerne berichtigen bzw.
        löschen wir diese auch auf Ihren Wunsch, soweit keine gesetzlichen Aufbewahrungspflichten entgegenstehen.
        Zur Kontaktaufnahme in diesem Zusammenhang nutzen Sie bitte die in dieser Datenschutzerklärung angegebenen
        Kontaktdaten.</p>

    <p class="lead">SSL-Verschlüsselung</p>

    <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen
        Stand der Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>

    <p class="lead">Änderungsverfolgung</p>

    <p>Wenn Nutzer Inhalte einreichen oder ändern, werden neben diesen Änderungen auch der Zeitpunkt ihrer Erstellung
        und der Nutzername gespeichert. Dies dient der Verifizierbarkeit der zum Zweck der Publikation eingereichten
        Informationen. Es dient auch unserer Sicherheit, da wir für widerrechtliche Inhalte auf unserer Webseite
        belangt werden können, auch wenn diese durch Benutzer erstellt wurden.</p>

    <p class="lead">Verwendung von Scriptbibliotheken (Google Webfonts)</p>

    <p>Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend darzustellen,
        verwenden wir auf dieser Website Scriptbibliotheken und Schriftbibliotheken wie
        z. B. Google Webfonts (<a href="http://www.google.com/webfonts/" rel="nofollow">https://www.google.com/webfonts/</a>).
        Google Webfonts werden zur Vermeidung mehrfachen Ladens in den Cache Ihres Browsers übertragen.
        Falls der Browser die Google Webfonts nicht unterstützt oder den Zugriff unterbindet,
        werden Inhalte in einer Standardschrift angezeigt.</p>

    <p>Der Aufruf von Scriptbibliotheken oder Schriftbibliotheken löst automatisch eine Verbindung zum Betreiber
        der Bibliothek aus. Dabei ist es theoretisch möglich – aktuell allerdings auch unklar ob
        und ggf. zu welchen Zwecken – dass Betreiber entsprechender Bibliotheken Daten erheben.</p>

    <p>Die Datenschutzrichtlinie des Bibliothekbetreibers Google finden Sie hier:
        <a href="https://www.google.com/policies/privacy/" rel="nofollow">https://www.google.com/policies/privacy/</a></p>

    <p class="lead"><strong>Änderung unserer Datenschutzbestimmungen</strong></p>

    <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets
        den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen
        in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services.
        Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
</div>
}
