@(emailForm: Form[String])(implicit env: com.mohiva.play.silhouette.core.Environment[models.Login, _], request: RequestHeader)

@import views.html.bootstrap._

@template(None, None, "") {

  @flash(request)

  <fieldset class="col-md-6 col-md-offset-3">
    <legend>Reset password</legend>

    @helper.form(action = routes.Accounts.forgotPasswordCommit()) {

      @text(emailForm("email"), "your@email.com")

      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Reset and send new password</button>
        </div>
      </div>
    }
  </fieldset>

}
