@(account: Option[Account], conference: Conference)

@template(account, Option(conference), "impressum") {

    <!-- Impressum -->
    <div class="page-header">
        <h1>Imprint</h1>
    </div>
    <div>
        <p class="lead">Verantwortlicher gemäß §6 TDG</p>
        <address>
            Dr. Thomas Wachtler-Kulla<br>
            Biozentrum<br>
            Ludwig-Maximilians-Universität München<br>
            Großhaderner Straße 2<br>
            82152 Martinsried-Planegg<br>
            Germany<br>
            <br>

            <abbr title="e-mail">&#64;: wachtler at bio.lmu.de</abbr><br>
            <abbr title="Telephone">T: +49 89 2180 74810</abbr><br>
            <abbr title="Fax">F: +49 89 2180 74803</abbr>
        </address>

        <p class="lead">Inhaltlich Verantwortlicher gemäß §10 Absatz 3 MDStV</p>
        <address>
        Dr. Thomas Wachtler-Kulla (Anschrift wie oben)
        </address>

        <p>
            <h4>Haftungshinweis</h4>
            Trotz sorgfältiger inhaltlicher Kontrolle Übernehmen wir keine Haftung für
            die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
            ausschließlich deren Betreiber verantwortlich.
        </p>
    </div>

}