@(account: Option[Account], conference: Conference)

@template(account, Option(conference), "info") {

    <div class="hidden-data">
        <div id="conference-uuid">@conference.uuid</div>
    </div>

    <div class="hidden-data">
        <div id="account-uuid">@if(account.isDefined) {
            @account.get.uuid
        }
        </div>
    </div>

        <!-- The conference info page -->
    <div class="jumbotron">
        <div class="page-header">
            <h1><a href="@conference.link">@conference.name</a></h1>
        </div>

        @if(conference.info != null) {
            <div class="jumbo-small">
            @Html(conference.getInfoAsHTML())
            </div>
        } else {
            <p>There is currently no information specified.</p>
        }

    </div>
}