@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
            });
        </script>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" media="screen">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.4/sammy.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/parse-names.js")"></script>

        <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/config.js")"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Conference Abstracts">
        <meta name="keywords" content="Abstracts">
        <meta name="author" content="German Neuroinformatics Node (G-Node)">

            <!--
               ____       _   _           _
              / ___|     | \ | | ___   __| | ___
             | |  _ _____|  \| |/ _ \ / _` |/ _ \
             | |_| |_____| |\  | (_) | (_| |  __/
              \____|     |_| \_|\___/ \__,_|\___|

              Brought to you by the German Neuroinformatics Node (G-Node)
              Copyright (c) 2013,2014 G-Node
              License: Apache 2.0 (see http://www.apache.org/licenses/LICENSE-2.0.html)
              Author: Christian Kellner <kellner@@bio.lmu.de>
            -->

    </head>
    <body>
        @content
    </body>
</html>
