@(form: Form[(String, String, String)])(implicit env: com.mohiva.play.silhouette.core.Environment[models.Login, _], request: RequestHeader)

@import views.html.bootstrap._

@template(None, None, "") {

  @flash(request)

  <fieldset class="col-md-6 col-md-offset-3">
    <legend>Reset password</legend>

    @helper.form(action = routes.Accounts.passwordResetCommit()) {
      @password(form("passwordold"), "Enter old password", icon = "key")
      @password(form("password1"), "Enter new password", icon = "key")
      @password(form("password2"), "Confirm new password")

      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Reset</button>
        </div>
      </div>
    }
  </fieldset>

}