@(form: Form[forms.SignUpForm.Data])(implicit env: com.mohiva.play.silhouette.core.Environment[models.Login, _], request: RequestHeader)

@import views.html.bootstrap._

@template(None, None, "") {

  @flash(request)

  <fieldset class="col-md-6 col-md-offset-3">
    <legend>Register an account</legend>

    @helper.form(action = routes.Accounts.create()) {

      @text(form("firstName"), "First name", icon = "person")
      @text(form("lastName"), "Last name", icon = "person")
      @text(form("email"), "Email", icon = "at")
      @password(form("password"), "Password", icon = "key")

      <div class="form-group">

        <div class="jumbotron">
          By registering, you agree to our
          <a onclick="window.open('https://web.gin.g-node.org/G-Node/Info/wiki/Terms+of+Use')" href="">Terms of Use</a> and
          <a href="@routes.Application.datenschutz">Data Processing Policy</a>.
        </div>

        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
      </div>
    }
  </fieldset>
}
