@(account: Account, conference: Conference, abstr: Option[Abstract])

@template(Option(account), Option(conference), "submission") {

    <div class="hidden-data">
        <div id="conference-uuid">@conference.uuid</div>
        <div id="abstract_uuid">@abstr.map(_.uuid).getOrElse("")</div>
    </div>

    <script data-main="@routes.Assets.at("javascripts/editor.js")"
            src="@routes.Assets.at("javascripts/require.js")"></script>

    <div class="header">
        <h1>Abstract submission for @conference.name</h1>
    </div>

    <hr class="separator">

    <div id="abstract">

        <div class="editor-box">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#title-editor" data-toggle="modal">
                    Edit
                </button>
            </div>

            <div class="modal" id="title-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Enter a Title</h3>
                        </div>

                        <div class="modal-body">
                            <label for="title"></label>
                            <input type="text" class="form-control" id="title" data-bind="value: abstract().title" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="title">
                <h2 data-bind="text: abstract().title"></h2>
            </div>
        </div>

        <div class="editor-box">

            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#authors-editor" data-toggle="modal">
                    Edit
                </button>
            </div>

            <div class="modal" id="authors-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-default btn-sm pull-right" data-bind="click: addAuthor">
                                Add
                            </button>

                            <h3>Edit Authors</h3>
                        </div>

                        <div class="modal-body">
                            <table class="table">
                                <tbody data-bind="foreach: {data: abstract().authors, as: 'person'}">
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="First Name"
                                                   data-bind="value: person.firstName" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Middle Name"
                                                   data-bind="value: person.middleName" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="First Name"
                                                   data-bind="value: person.lastName" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Mail"
                                                   data-bind="value: person.mail" />
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.removeAuthor.bind(person)">
                                                    Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="authors">
                <ul data-bind="foreach: abstract().authors">
                    <li><span data-bind="text: formatName()"></span><sup data-bind="text: formatAffiliations()"></sup></li>
                </ul>
            </div>
        </div>

        <div class="editor-box">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#affiliations-editor"
                        data-toggle="modal">
                    Edit
                </button>
            </div>

            <div class="modal" id="affiliations-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-default btn-sm pull-right" data-bind="click: addAffiliation">
                                Add
                            </button>

                            <h3>Edit Affiliations</h3>
                        </div>

                        <div class="modal-body">
                            <table class="table">
                                <tbody data-bind="foreach: {data: abstract().affiliations, as: 'affiliation'}">
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Name"
                                                   data-bind="value: affiliation.name" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Section"
                                                   data-bind="value: affiliation.section" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Department"
                                                   data-bind="value: affiliation.department" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Address"
                                                   data-bind="value: affiliation.address" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Country"
                                                   data-bind="value: affiliation.country" />
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.removeAffiliation.bind($root, affiliation)">
                                                    Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- ko foreach: {data: $root.authorsForAffiliation(affiliation), as: 'author'} -->
                                    <tr>
                                        <td colspan="5" data-bind="text: author.formatName()"></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.doRemoveAffiliationFromAuthor.bind($root, affiliation, author)">
                                                    Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <tr>
                                        <td colspan="5" data-bind="attr: {id: 'author-select-' + affiliation.position()}">
                                            <select class="form-control"
                                                    data-bind="options: $root.abstract().authors,
                                                               optionsText: function(e) { return e.formatName(); },
                                                               optionsValue: 'position'">
                                            </select>
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.doAddAuthorToAffiliation.bind($root, affiliation)">
                                                    Add
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                Close
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="affiliations">
                <ol data-bind="foreach: abstract().affiliations">
                    <li><span data-bind="text: format()"></span></li>
                </ol>
            </div>

        </div>

        <div class="editor-box">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#abstract-text-editor"
                        data-toggle="modal">
                    Edit
                </button>
            </div>

            <div class="modal" id="abstract-text-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Enter the Abstract Text</h3>
                        </div>

                        <div class="modal-body">
                            <textarea rows="10" class="form-control" id="text"
                                      data-bind="value: abstract().text">
                            </textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="abstract-text" data-bind="foreach: {data: abstract().paragraphs(), as: 'p'}">
                <p data-bind="text: p"></p>
            </div>
        </div>


        <div class="editor-box">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#acknowledgements-editor"
                        data-toggle="modal">
                    Edit
                </button>
            </div>

            <div class="modal" id="acknowledgements-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Enter Acknowledgements Text</h3>
                        </div>

                        <div class="modal-body">
                            <label for="text"></label>
                            <textarea rows="10" class="form-control" id="text"
                                      data-bind="value: abstract().acknowledgements">
                            </textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="acknowledgements">
                <h4>Acknowledgements</h4>
                <p data-bind="text: abstract().acknowledgements"></p>
            </div>
        </div>


        <div class="editor-box">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#references-editor"
                        data-toggle="modal">
                    Edit
                </button>
            </div>

            <div class="modal" id="references-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="btn btn-default btn-sm pull-right"
                                    data-bind="click: doAddReference">
                                Add
                            </button>

                            <h3>References</h3>
                        </div>

                        <div class="modal-body">
                            <table class="table">
                                <tbody data-bind="foreach: {data: abstract().references, as: 'reference'}">
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Authors"
                                            data-bind="value: reference.authors" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Title"
                                            data-bind="value: reference.title" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Year"
                                            data-bind="value: reference.year" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="DOI"
                                            data-bind="value: reference.doi" />
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.doRemoveReference.bind($root, $index, reference)">
                                                    Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="references">
                <ol data-bind="foreach: {data: abstract().references, as: 'reference'}">
                    <li data-bind="text: reference.format()"></li>
                </ol>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-default btn-sm" data-bind="click: saveAbstract">
                Submit Abstract
            </button>
        </div>

        <hr class="separator">

        <div class="foot-info">
            <p><b>Identifier:</b> <span>T&nbsp;100</span></p>
            <p><b>Conference:</b> <span>G-Node Conference 20XX, München, Germany, June 20 - 27</span></p>
            <p><b>Citation:</b> <span>Greene G, Ehrhardt E, Gollisch T, Wachtler T (2013) Distinguishing local and global motion through non-linear retinal processing. <i>G-Node Conference 20XX</i>. doi: <a class="doilink" href="http://localhost:8000/#/doi/test.1">10.12751/test.1</a></span></p>
            <p><b>Type:</b> <span>Poster</span></p>
        </div>

    </div>

}
