@(account: Account, conference: Conference, abstr: Option[Abstract])

@template(Option(account), Option(conference), "submission") {

    <div class="hidden-data">
        <div id="conference-uuid">@conference.uuid</div>
        <div id="abstract_uuid">@abstr.map(_.uuid).getOrElse("")</div>
    </div>

    <script data-main="@routes.Assets.at("javascripts/editor.js")"
            src="@routes.Assets.at("javascripts/require.js")"></script>

    <!-- Loading box -->
    <div data-bind="if: message">
            <!-- ko with: message -->
        <div class="alert alert-info fade in out" data-bind="css: level">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 data-bind="text: message">Loading data</h4>
            <p data-bind="html: desc">Please wait...</p>
        </div>
            <!-- /ko -->
    </div>

    <div class="header">
        <div class="pull-right state-btn-group">
            <span data-bind="if: showButtonSave">
                <button type="button" class="btn btn-success" data-bind="click: doSaveAbstract">
                    Save
                </button>
            </span>
            <span data-bind="if: showButtonReactivate">
                <button type="button" class="btn btn-success" data-bind="click: doReactivateAbstract">
                    Reactivate
                </button>
            </span>
            <span data-bind="if: showButtonSubmit">
                <button type="button" class="btn btn-danger" data-bind="click: doSubmitAbstract">
                    Submit
                </button>
            </span>
            <span data-bind="if: showButtonWithdraw">
                <button type="button" class="btn btn-danger"  data-bind="click: doWithdrawAbstract">
                    Withdraw
                </button>
            </span>
        </div>

        <h2>Abstract submission  <small>@conference.name</small></h2>
    </div>

    <hr class="separator">

    <div id="abstract">

        <div class="notice">
            <p>Submitted abstracts can be modified until the deadline.</p>
        </div>

        <div class="editor-box" data-bind="css: {editable: isChangeOk}">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#title-editor" data-toggle="modal"
                        data-bind="click: doStartEdit.bind($root, '#title-editor')">
                    Edit
                </button>
            </div>

            <div class="modal" id="title-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Enter a Title</h3>
                        </div>

                        <div class="modal-body">
                            <label for="title"></label>
                            <input type="text" class="form-control" id="title" maxlength="100"
                                   data-bind="value: editedAbstract().title" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                                    data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="title">
                <h2 data-bind="text: abstract().title"></h2>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: isChangeOk}">

            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#authors-editor" data-toggle="modal"
                        data-bind="click: doStartEdit">
                    Edit
                </button>
            </div>

            <div class="modal" id="authors-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-default btn-sm pull-right" data-bind="click: doEditAddAuthor">
                                Add
                                <span class="glyphicon glyphicon-user"></span>
                            </button>

                            <h3>Edit Authors</h3>
                        </div>

                        <div class="modal-body">
                            <table class="table">
                                <tbody data-bind="sortable: {data: editedAbstract().authors, as: 'person'}">
                                    <tr>
                                        <td>
                                            <span class="drag-handle-icon glyphicon glyphicon-align-justify"></span>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="First Name"
                                                   maxlength="100" data-bind="value: person.firstName" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Middle Name"
                                                   maxlength="100" data-bind="value: person.middleName" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Last Name"
                                                   maxlength="100" data-bind="value: person.lastName" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Mail"
                                                   maxlength="100" data-bind="value: person.mail" />
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.doEditRemoveAuthor.bind($root, $index, person)">
                                                    Remove
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div><small> Use the drag handle  <span class="gray-icon glyphicon glyphicon-align-justify icon-no-gap"></span> to reorder autohrs</small></div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"
                                    data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="authors">
                <ul data-bind="foreach: abstract().authors">
                    <li><span data-bind="text: formatName()"></span><sup data-bind="text: formatAffiliations()"></sup></li>
                </ul>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: isChangeOk}">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#affiliations-editor"
                        data-toggle="modal" data-bind="click: doStartEdit">
                    Edit
                </button>
            </div>

            <div class="modal" id="affiliations-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-default btn-sm pull-right" data-bind="click: doEditAddAffiliation">
                                Add
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>

                            <h3>Edit Affiliations</h3>
                        </div>

                        <div class="modal-body">
                            <table class="table">
                                <tbody data-bind="foreach: {data: editedAbstract().affiliations, as: 'affiliation'}">
                                    <tr class="affiliation-form">
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Institute"
                                                   maxlength="100" data-bind="value: affiliation.section" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Department"
                                                   maxlength="100" data-bind="value: affiliation.department" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Address"
                                                   maxlength="100" data-bind="value: affiliation.address" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Country"
                                                   maxlength="100" data-bind="value: affiliation.country" />
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.doEditRemoveAffiliation.bind($root, $index, affiliation)">
                                                    Remove
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- ko foreach: {data: $root.getEditorAuthorsForAffiliation($index(), affiliation), as: 'author'} -->
                                    <tr>
                                        <td colspan="4" data-bind="text: author.formatName()"></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.doEditRemoveAffiliationFromAuthor.bind($root, $parentContext.$index, author)">
                                                    Remove
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <tr>
                                        <td colspan="4" data-bind="attr: {id: 'author-select-' + $index()}">
                                            <select class="form-control"
                                                    data-bind="options: $root.editedAbstract().indexedAuthors,
                                                               optionsText: function(e) { return e.author.formatName(); },
                                                               optionsValue: 'index'">
                                            </select>
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.doEditAddAuthorToAffiliation.bind($root, $index, affiliation)">
                                                    Add
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"
                                    data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="affiliations">
                <ol data-bind="foreach: abstract().affiliations">
                    <li><span data-bind="text: format()"></span></li>
                </ol>
            </div>

        </div>

        <div class="editor-box" data-bind="css: {editable: isChangeOk}">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#abstract-text-editor"
                        data-toggle="modal" data-bind="click: doStartEdit">
                    Edit
                </button>
            </div>

            <div class="modal" id="abstract-text-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Enter the Abstract Text</h3>
                        </div>

                        <div class="modal-body">
                            <textarea rows="10" class="form-control" id="text" maxlength="2000"
                                      data-bind="value: editedAbstract().text, valueUpdate: 'afterkeydown'">
                            </textarea>
                            <div>
                                <span>LaTeX-like equation typesetting is supported via MathJax. Use $$ and $ (inline).
                                    <a target="_blank" href="http://meta.math.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference">Quick quide</a>
                                </span><br>
                                <span>Characters left: </span><span data-bind="text: editorTextCharactersLeft"></span>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-sm btn-default"
                                    data-dismiss="modal" data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="abstract-text" data-bind="foreach: {data: abstract().paragraphs(), as: 'p'}">
                <p data-bind="text: p"></p>
            </div>
        </div>


        <div class="editor-box" data-bind="css: {editable: isChangeOk}">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#acknowledgements-editor"
                        data-toggle="modal" data-bind="click: doStartEdit">
                    Edit
                </button>
            </div>

            <div class="modal" id="acknowledgements-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Enter Acknowledgements Text</h3>
                        </div>

                        <div class="modal-body">
                            <textarea rows="10" class="form-control" id="text" maxlength="200"
                                      data-bind="value: editedAbstract().acknowledgements, valueUpdate: 'afterkeydown'">
                            </textarea>
                            <div>
                                <span>Characters left: </span><span data-bind="text: editorAckCharactersLeft"></span>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                                    data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="acknowledgements">
                <h4>Acknowledgements</h4>
                <p data-bind="text: abstract().acknowledgements"></p>
            </div>
        </div>


        <div class="editor-box" data-bind="css: {editable: isChangeOk}">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#references-editor"
                        data-toggle="modal" data-bind="click: doStartEdit">
                    Edit
                </button>
            </div>

            <div class="modal" id="references-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="btn btn-default btn-sm pull-right"
                                    data-bind="click: doEditAddReference">
                                Add
                            </button>

                            <h3>References</h3>
                        </div>

                        <div class="modal-body">

                            <table class="table">
                                <tbody data-bind="sortable: {data: editedAbstract().references, as: 'reference'}">
                                    <tr>
                                        <td>
                                            <span class="drag-handle-icon glyphicon glyphicon-align-justify"></span>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="Text"
                                                   maxlength="200" data-bind="value: reference.text" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="link"
                                                   maxlength="100" data-bind="value: reference.link" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="DOI"
                                                   maxlength="100" data-bind="value: reference.doi" />
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm"
                                                        data-bind="click: $root.doEditRemoveReference.bind($root, $index, reference)">
                                                    Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div><small> Use the drag handle  <span class="gray-icon glyphicon glyphicon-align-justify icon-no-gap"></span> to reorder references</small></div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"
                                    data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="references">
                <h4>References</h4>
                <ol data-bind="foreach: {data: abstract().references, as: 'reference'}">
                    <li data-bind="html: reference.format()"></li>
                </ol>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: isChangeOk}">

            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#figure-editor"
                data-toggle="modal" data-bind="click: doStartEdit">
                    Edit
                </button>
            </div>

            <div class="modal" id="figure-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Add a Figure</h3>
                        </div>

                        <div class="modal-body">
                            <div data-bind="ifnot: hasAbstractFigures">
                                <div class="form-group">
                                    <input type="text" name="figure-caption" id="figure-caption"
                                    maxlength="100" class="form-control input-sm" placeholder="Figure Caption">
                                </div>
                                <div class="form-group">
                                    <input type="file" name="figure-file" id="figure-file"
                                    maxlength="100" class="form-control input-sm">
                                </div>
                                <div data-bind="ifnot: isAbstractSaved">
                                    Note: the figure will be uploaded when the abstract is saved for the first time.
                                </div>
                            </div>

                            <div data-bind="if: hasAbstractFigures">
                                <button type="button" class="btn btn-default btn-sm pull-right"
                                data-bind="click: $root.doRemoveFigure">
                                    Remove
                                </button>
                                <div class="figure-box">
                                    <img class="figure-image" src="" data-bind="attr: {src: abstract().figures()[0].URL}">
                                    <div class="figure-caption">
                                        <span>Figure 1: </span>
                                        <span data-bind="text: abstract().figures()[0].caption"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                            data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="figure">
                <h4>Figure</h4>
                <div data-bind="if: hasAbstractFigures" class="figure-box">
                    <img class="figure-image" src="" data-bind="attr: {src: abstract().figures()[0].URL}">
                    <div class="figure-caption">
                        <span>Figure 1: </span>
                        <span data-bind="text: abstract().figures()[0].caption"></span>
                    </div>
                </div>
            </div>

        </div>

        <hr class="separator">

        <div class="editor-box" data-bind="css: {editable: isChangeOk}">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#topic-editor"
                        data-toggle="modal" data-bind="click: doStartEdit">
                    Edit
                </button>
            </div>

            <div class="modal" id="topic-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Set the Abstract Topic</h3>
                        </div>

                        <div class="modal-body" data-bind="foreach: conference().topics">

                            <div class="radio">
                                <label>
                                    <input type="radio" data-bind="checked: $root.editedAbstract().topic, value: $data" />
                                    <span data-bind="text: $data"></span>
                                </label>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                                    data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="topic">
                <h4>Topic</h4>
                <p data-bind="text: abstract().topic"></p>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: isChangeOk}">
            <div class="btn-group pull-right btn-group-hover">
                <button type="button" class="btn btn-default btn-sm" data-target="#is-talk-editor"
                data-toggle="modal" data-bind="click: doStartEdit">
                    Edit
                </button>
            </div>

            <div class="modal" id="is-talk-editor" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Presentation Preference</h3>
                        </div>

                        <div class="modal-body">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="false"
                                           data-bind="checked: editedAbstract().isTalk.computed">
                                    Poster
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="true"
                                           data-bind="checked: editedAbstract().isTalk.computed">
                                    Talk or Poster
                                </label>
                            </div>
                            <div data-bind="if: editedAbstract().isTalk">
                                <input type="text" class="form-control" placeholder="Why should this contribution be selected for an oral presentation?"
                                       maxlength="100" data-bind="value: editedAbstract().reasonForTalk">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                            data-bind="click: doEndEdit">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="poster-or-talk">
                <h4>Presentation Preference</h4>
                <div data-bind="if: abstract().isTalk">
                    <p>Talk or Poster</p>
                    <p>Reason: <span data-bind="text: abstract().reasonForTalk"></span></p>
                </div>
                <div data-bind="ifnot: abstract().isTalk">
                    <p>Poster</p>
                </div>
            </div>
        </div>

        <div data-bind="if: isAbstractSaved">
            <hr class="separator">
            @components.owned()
        </div>

    </div>

}
