@(account: Account, conference: Conference, abstr: Option[Abstract])

@template(Option(account), Option(conference), "submission") {

    <div class="hidden-data">
        <div id="conference-uuid">@conference.uuid</div>
        <div id="abstract_uuid">@abstr.map(_.uuid).getOrElse("")</div>
        <div id="maxLenPrepText">@conference.abstractMaxLength</div>
        <div id="maxLenPrepAck">@Model.getLimit[Abstract]("acknowledgements")</div>
    </div>

    <script data-main='@routes.Assets.at("javascripts/editor.js")'
            src='@routes.Assets.at("javascripts/require.js")'></script>

    <div class="header">
        <div class="pull-right state-btn-group">
            <span data-bind="if: action">
                <!-- ko with: action -->
                <button type="button" class="btn" data-bind="click: action, text: label, css: level">
                    Action
                </button>
                <!-- /ko -->
            </span>
        </div>

        <h3>Abstract submission  <small>@conference.name</small></h3>
        <ul class="list-inline">
            <li data-bind="if: showEditButton">
                <div data-bind="with: validity">Validation:
                    <button id="lblvalid" class="btn btn-xs" type="button" data-target="#validation-dialog" data-toggle="modal"
                    data-bind="text: badgeText, css: badgeLevel, click: handler, attr: { 'data-toggle': ok ? '' : 'modal' }"></button>
                </div>
            </li>
            <li data-bind="if: showEditButton() && isAbstractSaved()">
                <div data-bind="with: autosave">Autosave:
                    <span class="label" data-bind="text: text, css: css"></span>
                </div>
            </li>
            <li>
                <!-- display the current abstract status -->
                <div data-bind="if: isAbstractSaved">
                    Status:
                    <span style="cursor: pointer" class="label label-primary"
                          data-bind="text: abstract().state(), click: showHelp"></span>
                </div>
            </li>
        </ul>
        <div class="modal" id="validation-dialog" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>
    </div>

    @components.messsagebox()

    <div id="abstract">

        <div class="editor-box" data-bind="css: {editable: showEditButton}">
            <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                <button type="button" class="btn btn-default btn-sm" data-target="#title-editor" data-toggle="modal"
                        data-bind="click: doStartEdit.bind($root, '#title-editor')">
                    Edit
                </button>
            </div>

            <div class="modal" id="title-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>

            <div  class="title">
                <h2 data-bind="text: abstract().title"></h2>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: showEditButton}">
            <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                <button type="button" class="btn btn-default btn-sm" data-target="#authors-editor" data-toggle="modal"
                        data-bind="click: doStartEdit.bind($root, '#authors-editor')">
                    Edit
                </button>
            </div>

            <div class="modal" id="authors-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>

            <div class="authors">
                <ul data-bind="foreach: abstract().authors">
                    <li><span data-bind="text: formatName()"></span><sup data-bind="text: formatAffiliations()"></sup></li>
                </ul>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: showEditButton}">
            <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                <button type="button" class="btn btn-default btn-sm" data-target="#affiliations-editor"
                        data-toggle="modal" data-bind="click: doStartEdit.bind($root, '#affiliations-editor')">
                    Edit
                </button>
            </div>

            <div class="modal" id="affiliations-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>

            <div class="affiliations">
                <ol data-bind="foreach: abstract().affiliations">
                    <li><span data-bind="text: format()"></span></li>
                </ol>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: showEditButton}">
            <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                <button type="button" class="btn btn-default btn-sm" data-target="#abstract-text-editor"
                        data-toggle="modal" data-bind="click: doStartEdit.bind($root, '#abstract-text-editor')">
                    Edit
                </button>
            </div>

            <div class="modal" id="abstract-text-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>

            <div class="abstract-text" data-bind="foreach: {data: abstract().paragraphs(), as: 'p'}">
                <p data-bind="text: p"></p>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: showEditButton}">
            <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                <button type="button" class="btn btn-default btn-sm" data-target="#acknowledgements-editor"
                        data-toggle="modal" data-bind="click: doStartEdit.bind($root, '#acknowledgements-editor')">
                    Edit
                </button>
            </div>

            <div class="modal" id="acknowledgements-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>

            <div class="acknowledgements">
                <h4>Acknowledgements</h4>
                <p data-bind="text: abstract().acknowledgements"></p>
            </div>
        </div>

        <div class="editor-box" data-bind="css: {editable: showEditButton}">
            <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                <button type="button" class="btn btn-default btn-sm" data-target="#references-editor"
                        data-toggle="modal" data-bind="click: doStartEdit.bind($root, '#references-editor')">
                    Edit
                </button>
            </div>

            <div class="modal" id="references-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>

            <div class="references">
                <h4>References</h4>
                <ol data-bind="foreach: {data: abstract().references, as: 'reference'}">
                    <li data-bind="html: reference.format()"></li>
                </ol>
            </div>
        </div>

        @if(conference.abstractMaxFigures>0){
            <div class="editor-box" data-bind="css: {editable: showEditButton}">
                <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                    <button type="button" class="btn btn-default btn-sm" data-target="#figure-editor"
                            data-toggle="modal" data-bind="click: doStartEdit.bind($root, '#figure-editor')">
                        Edit
                    </button>
                </div>
    
                <div class="modal" id="figure-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>
        
                <div class="figure">
                    <h4>Figures</h4>
                    <div>
                    <!-- ko foreach: abstract().figures() -->
                        <div class="figure-box">
                            <img class="figure-image" src="" data-bind="attr: {src: $data.URL}">
                            <div class="figure-caption">
                                <span>Figure <b data-bind="text:$index() + 1"></b>: </span>
                                <span data-bind="text: $data.caption"></span>
                            </div>
                        </div>
                    <!-- /ko -->
                    </div>
                </div>    
            </div>
        }

        @if(! conference.topics.isEmpty || conference.hasPresentationPrefs) {
            <hr class="separator">
        }

        @if(! conference.topics.isEmpty) {
            <div class="editor-box" data-bind="css: {editable: showEditButton}">
                <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                    <button type="button" class="btn btn-default btn-sm" data-target="#topic-editor"
                            data-toggle="modal" data-bind="click: doStartEdit.bind($root, '#topic-editor')">
                        Edit
                    </button>
                </div>

                <div class="modal" id="topic-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>

                <div class="topic">
                    <h4>Topic</h4>
                    <p data-bind="text: abstract().topic"></p>
                </div>
            </div>
        }

        <!-- Recycling of the old Bernstein like presentation choice style, we'll keep the names for the time being -->
        @if(conference.hasPresentationPrefs) {
            <div class="editor-box" data-bind="css: {editable: showEditButton}">
                <div class="btn-group pull-right btn-group-hover" data-bind="if: showEditButton">
                    <button type="button" class="btn btn-default btn-sm" data-target="#is-talk-editor"
                            data-toggle="modal" data-bind="click: doStartEdit.bind($root, '#is-talk-editor')">
                        Edit
                    </button>
                </div>

                <div class="modal" id="is-talk-editor" tabindex="-1" data-bind="template: { name: 'modalDialog'}"></div>

                <div class="poster-or-talk">
                    <h4>Presentation Type</h4>
                    <div data-bind="if:abstract().abstrTypes().length>0">
                        <div>
                        <!-- Using only the first presentation style is a workaround, more types might come 
                         later (or not). Everything is ready for more however.-->
                            <span data-bind="text: abstract().abstrTypes()[0].name"></span>
                        </div>
                        <div data-bind="if:abstract().reasonForTalk">
                            <p>Presentation comment: <span data-bind="text: abstract().reasonForTalk"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Advanced abstract settings -->
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" data-bind="if: stateLog">
                    <a href="#statelog" aria-controls="statelog" role="tab" data-toggle="tab">State Log</a>
                </li>
                <li role="presentation" data-bind="if: showEditButton() && isAbstractSaved()">
                    <a href="#owner" aria-controls="owner" role="tab" data-toggle="tab">Owner Management</a>
                </li>
                <li role="presentation" data-bind="if: showButtonWithdraw">
                    <a href="#withdraw" aria-controls="withdraw" role="tab" data-toggle="tab">Withdraw</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" data-bind="if: stateLog">
                <div role="tabpanel" class="tab-pane active" id="statelog">
                    @components.statelog("stateLog") { <div></div> }
                </div>

                <div role="tabpanel" class="tab-pane" id="owner" data-bind="if: showEditButton() && isAbstractSaved()">
                    @components.owned()
                </div>

                <div role="tabpanel" class="tab-pane" id="withdraw" data-bind="if: showButtonWithdraw">
                    <div class="callout-danger">
                        <h4>Warning!</h4>
                        <p>Abstract withdrawal is permanent! There is no way to recover the
                           abstract once it is withdrawn.
                          <br>
                            <button type="button" class="btn btn-danger"  data-bind="click: doWithdrawAbstract">
                                Withdraw
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal main template -->
    <script id="modalDialog" type="text/html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" data-bind="template: { name: modalHeader }"></div>

                <div class="modal-body" data-bind="template: { name: modalBody }"></div>

                <div class="modal-footer" data-bind="template: { name: modalFooter }"></div>
            </div>
        </div>
    </script>

    <!-- validation result template -->
    <script id="header-validation" type="text/html">
       <h3>Abstract validation</h3>
    </script>

    <script id="body-validation" type="text/html">
       <!-- ko with: $root.validity -->
           <!-- ko ifnot: isError -->
           <div class="callout-warning">
               <h4>Warnings:</h4>
               <!-- ko foreach: items -->
                   <p data-bind="text: $data">Placeholder</p>
               <!-- /ko -->
           </div>
           <!-- /ko -->
           <!-- ko if: isError -->
           <div class="callout-danger">
              <h4>Errors:</h4>
              <!-- ko foreach: items -->
                  <p data-bind="text: $data">Placeholder</p>
              <!-- /ko -->
           </div>
           <!-- /ko -->
       <!-- /ko -->
    </script>
    <script id="footer-validation" type="text/html">
       <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Ok</button>
    </script>

    <!-- modal header and body template section -->
    <!-- title templates -->
    <script id="header-title-editor" type="text/html">
        <h3>Enter a Title</h3>
    </script>
    <script id="body-title-editor" type="text/html">
        <label for="title"></label>
        <input type="text" class="form-control" id="title"
                placeholder='Title (max. @Model.getLimit[Abstract]("title") characters)'
                data-bind="value: editedAbstract().title, valueUpdate: 'afterkeydown'"
                maxlength='@Model.getLimit[Abstract]("title")'/>
        <br>
        <span data-bind="text: latexInTitle"></span>
    </script>

    <!-- authors templates -->
    <script id="header-authors-editor" type="text/html">
        <button type="button" class="btn btn-default btn-sm pull-right" data-bind="click: doEditAddAuthor">
            Add
            <span class="glyphicon glyphicon-user"></span>
        </button>

        <h3>Edit Authors</h3>
    </script>
    <script id="body-authors-editor" type="text/html">
        <table class="table">
            <tbody data-bind="sortable: {data: editedAbstract().authors, as: 'person'}">
                <tr>
                    <td>
                        <span class="drag-handle-icon glyphicon glyphicon-align-justify"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="First Name"
                                maxlength='@Model.getLimit[Author]("firstName")'
                                data-bind="value: person.firstName" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Middle Name"
                                maxlength='@Model.getLimit[Author]("middleName")'
                                data-bind="value: person.middleName" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Last Name"
                                maxlength='@Model.getLimit[Author]("lastName")'
                                data-bind="value: person.lastName" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Mail"
                                maxlength='@Model.getLimit[Author]("mail")'
                                data-bind="value: person.mail" />
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-sm"
                                    data-bind="click: $root.doEditRemoveAuthor.bind($root, $index, person)">
                                Remove
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <small> Use the drag handle
                <span class="gray-icon glyphicon glyphicon-align-justify icon-no-gap"></span> to reorder authors
            </small>
        </div>
    </script>

    <!-- affiliations templates -->
    <script id="header-affiliations-editor" type="text/html">
        <button type="button" class="btn btn-default btn-sm pull-right" data-bind="click: doEditAddAffiliation">
            Add
            <span class="glyphicon glyphicon-envelope"></span>
        </button>

        <h3>Edit Affiliations</h3>
    </script>
    <script id="body-affiliations-editor" type="text/html">
        <table class="table">
            <tbody data-bind="foreach: {data: editedAbstract().affiliations, as: 'affiliation'}">
                <tr class="affiliation-form">
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Department"
                                maxlength='@Model.getLimit[Affiliation]("department")'
                                data-bind="value: affiliation.department" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Institution"
                                maxlength='@Model.getLimit[Affiliation]("section")'
                                data-bind="value: affiliation.section" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Address"
                                maxlength='@Model.getLimit[Affiliation]("address")'
                                data-bind="value: affiliation.address" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Country"
                                maxlength='@Model.getLimit[Affiliation]("country")'
                                data-bind="value: affiliation.country" />
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-sm"
                            data-bind="click: $root.doEditRemoveAffiliation.bind($root, $index, affiliation)">
                                Remove
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <!-- ko if: $root.getEditorAuthorsForAffiliation($index(), affiliation).length < 1 -->
                <tr>
                    <td colspan="5">
                        <div class="affiliations-no-author text-danger">
                            <span>No author assigned! Use dropdown menu below to select author and press "Assign".</span>
                        </div>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko foreach: {data: $root.getEditorAuthorsForAffiliation($index(), affiliation), as: 'author'} -->
                <tr>
                    <td colspan="4" data-bind="text: author.formatName()"></td>
                    <td>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-sm"
                                    data-bind="click: $root.doEditRemoveAffiliationFromAuthor.bind($root, $parentContext.$index, author)">
                                Remove
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td></td>
                    <td colspan="3" data-bind="attr: {id: 'author-select-' + $index()}">
                        <select class="form-control"
                                data-bind="options: $root.editedAbstract().indexedAuthors,
                                           optionsText: function(e) { return e.author.formatName(); },
                                           optionsValue: 'index',
                                           value: $root.selectedAffiliationAuthor">
                        </select>
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-sm"
                                    data-bind="click: $root.doEditAddAuthorToAffiliation.bind($root, $index, affiliation)">
                                Assign
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>

    <!-- abstract text templates -->
    <script id="header-abstract-text-editor" type="text/html">
        <h3>Enter the Abstract Text</h3>
    </script>
    <script id="body-abstract-text-editor" type="text/html">
        <textarea rows="10" class="form-control" id="text"
                data-bind="value: editedAbstract().text, valueUpdate: 'afterkeydown'"
                maxlength="@conference.abstractMaxLength">
        </textarea>
        <div>
            <br>
            <span>LaTeX-like equation typesetting is supported via MathJax. Use $$ and $ (inline).
                <a target="_blank" href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference">
                    Quick guide
                </a>
            </span>
            <br>
            <span data-bind="if: showAbstractTextCharsLeft">Characters left: </span>
            <span data-bind="text: editorTextCharactersLeft"></span>
        </div>
    </script>

    <!-- acknowledgements templates -->
    <script id="header-acknowledgements-editor" type="text/html">
        <h3>Enter Acknowledgements Text</h3>
    </script>
    <script id="body-acknowledgements-editor" type="text/html">
        <textarea rows="10" class="form-control" id="acknowledgements"
                data-bind="value: editedAbstract().acknowledgements, valueUpdate: 'afterkeydown'"
                maxlength='@Model.getLimit[Abstract]("acknowledgements")'>
        </textarea>
        <div>
            <br>
            <span data-bind="if: showAckCharsLeft">Characters left: </span>
            <span data-bind="text: editorAckCharactersLeft"></span>
        </div>
    </script>

    <!-- references templates -->
    <script id="header-references-editor" type="text/html">
        <button type="button" class="btn btn-default btn-sm pull-right"
            data-bind="click: doEditAddReference">
            Add
        </button>

        <h3>References</h3>
    </script>
    <script id="body-references-editor" type="text/html">
        <table class="table">
            <tbody data-bind="sortable: {data: editedAbstract().references, as: 'reference'}">
                <tr>
                    <td>
                        <span class="drag-handle-icon glyphicon glyphicon-align-justify"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Citation"
                                maxlength='@Model.getLimit[Reference]("text")'
                                data-bind="value: reference.text" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="link"
                                maxlength='@Model.getLimit[Reference]("link")'
                                data-bind="value: reference.link" />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="DOI e.g. 10.xxxxxx/journal.date.xx"
                                maxlength='@Model.getLimit[Reference]("doi")'
                                data-bind="value: reference.doi" />
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-sm"
                            data-bind="click: $root.doEditRemoveReference.bind($root, $index, reference)">
                                Remove
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <small> Use the drag handle
                <span class="gray-icon glyphicon glyphicon-align-justify icon-no-gap"></span> to reorder references
            </small>
        </div>
        <br/>
        <div>
            <small>
                Note: any DOI links differing from the 10.xxxxxx/journal.date.xx format will be post processed.
            </small>
        </div>
    </script>

    <!-- figure templates -->
    <script id="header-figure-editor" type="text/html">
        <h3>Add a Figure</h3>
    </script>
    <script id="body-figure-editor" type="text/html">
        <div data-bind="visible: !(abstract().figures().length>=@conference.abstractMaxFigures)">
            <div>Figures of format "jpg", "gif", "png" are supported; the size limit is 5MB.</div>
            <br>
            <div class="form-group">
                <input type="text" name="figure-caption" id="figure-caption" class="form-control input-sm"
                    placeholder='Figure Caption (max. @Model.getLimit[Figure]("caption") characters)'
                    maxlength='@Model.getLimit[Figure]("caption")'
                    data-bind="value: newFigureCaption">
            </div>
            <div class="form-group">
                <input type="file" name="figure-file" id="figure-file" data-bind="event: { change: getNewFigure }"
                    maxlength="250" class="form-control input-sm">
            </div>
            <div data-bind="ifnot: isAbstractSaved">
                Note: the figure will be uploaded when the abstract is saved for the first time.
            </div>
        </div>

        <div data-bind="if: hasAbstractFigures">
        <!-- ko foreach: abstract().figures() -->
        <button type="button" class="btn btn-default btn-sm pull-right"
                data-bind="click: $root.doRemoveFigure">
                Remove
        </button>
        <div class="figure-box">
            <img class="figure-image" src="" data-bind="attr: {src: $data.URL}">
            <div class="figure-caption">
                <span>Figure <b data-bind="text:$index() + 1"></b>: </span>
                <input type="text" name="figure-update-caption" id="figure-update-caption" class="form-control input-sm"
                        maxlength='@Model.getLimit[Figure]("caption")'
                        data-bind="value: $data.caption, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <!-- /ko -->
        </div>
    </script>

    <!-- topic templates -->
    @if(! conference.topics.isEmpty) {
        <script id="header-topic-editor" type="text/html">
            <h3>Set the Abstract Topic</h3>
        </script>
        <script id="body-topic-editor" type="text/html">
            <div data-bind="foreach: conference().topics">
                <div class="radio">
                    <label>
                        <input type="radio" data-bind="checked: $root.editedAbstract().topic, value: $data"/>
                        <span data-bind="text: $data"></span>
                    </label>
                </div>
            </div>
        </script>
    }

    <!-- poster/talk templates -->
    @if(! conference.groups.isEmpty) {
        <script id="header-is-talk-editor" type="text/html">
            <h3>Presentation Type</h3>
        </script>
        <script id="body-is-talk-editor" type="text/html">
        <!-- ko foreach: conference().groups -->
            <div class="radio">
                <div data-bind="if:$root.abstract().abstrTypes().length>0">
                    <input type="radio" name="optionPresentation" value="$data.name"
                            data-bind="click:$root.abstrTypeChanged, checkedValue: $data.name, checked:$root.abstract().abstrTypes()[0].name">
                </div>
                <div data-bind="ifnot:$root.abstract().abstrTypes().length>0">
                    <input type="radio" name="optionPresentation" value="$data.name"
                            data-bind="click:$root.abstrTypeChanged">
                </div>
                <span data-bind="text: $data.name" ></span>
            </div>
        <!-- /ko -->

        <div data-bind="if:showReason">
            <input type="text" class="form-control" placeholder="Why should this contribution be selected for an oral presentation?"
                    maxlength='@Model.getLimit[Abstract]("reasonForTalk")'
                    data-bind="value: editedAbstract().reasonForTalk">
        </div>

        </script>
    }

    <!-- general footer used with all modals so far -->
    <script id="generalModalFooter" type="text/html">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
            Cancel
        </button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                data-bind="click: doEndEdit">
            Ok
        </button>
    </script>
}
